.language {
  width: 20px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#language-menu {
  /*vertical-align: center;*/
  float: right;
  margin-right: 16px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}

.cover-image {
  height: 100%;
}

.cover-image-container {
  text-align: center;
}

.hide {
  display: none;
}

.select-library {
  padding: 30px;
}

.logo{
    height: 54px;
    margin-left: 2px;
    float: left;
}

.logo img{
    height: 54px;
}
.popup-window label.required::after{
  content: "*";
  width: 8px;
  position: absolute;
  text-align: center;
  color: #fe3e4d ;
}

.book-borrower{
  
  position: absolute;
  top: -20px;
  right: -25px;
  float: right;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
    /* margin: 10px 10px 10px 4px; */
}
