header{
  height: 54px;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
}
header::after{
  content: "";
  height: 8px;
  top: 54px;
  background: url("../images/header-shadow.png");
  background-size: 8px;
  display: block;
  position: relative;
  visibility: hidden;
  opacity: 0.3;
}
.add_book{
  float: right;
  background: url(../images/add_book_button.svg) left top no-repeat;
  width: 34px;
  height: 34px;
  margin: 10px 12px 10px 10px;
}
.add_book:hover{
  cursor: pointer;
  background: url(../images/add_book_button.svg) 0 bottom no-repeat;
}

#window-container{
  /*width: 100%;*/
  /*overflow-x: hidden;*/
  overflow: visible;
}
#window{
  float: left;
  width: 100%;
  overflow-x: hidden;
}
.logo{
  height: 54px;
  margin-left: 2px;
  float: left;
}
.logo img{
  height: 54px;
}
