@import url("https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700");

/*INIT COMPONENTS-------------------------------------------------------------------*/
html, button, input, select, textarea {margin: 0px;padding: 0px; outline-style: none;}
/*INIT BODY-------------------------------------------------------------------------*/
body{margin: 0px;padding: 0px;}
/*INIT TEXT-------------------------------------------------------------------------*/
p, h1, h2, h3, h4, h5, h6{margin: 0px;padding: 0px;}
/*INIT LINKS------------------------------------------------------------------------*/
a, a:hover, a:active, a:visited, a:focus{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	background: none;
	outline: 0;
}
* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}
/*INIT LIST-------------------------------------------------------------------------*/
ul, ol, li{margin: 0px;padding: 0px; list-style-type: none;}

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #f2f2f2;
}
h2{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.04px;
	color: #333333;
	text-align: left;
}

.container{
	overflow-x: hidden important;
	overflow-y: hidden !important;
}

/*HEADER----------------------------------------------------------------------------*/
header{
	height: 54px;
	background-color: #ffffff;
	border-bottom: 1px solid #e6e6e6;
	box-sizing: border-box;
}
header::after{
	content: "";
	height: 8px;
	top: 54px;
	background: url("../images/header-shadow.png");
	background-size: 8px;
	display: block;
	position: relative;
	visibility: hidden;
	opacity: 0.3;
}
.add_book{
  float: right;
  background: url(../images/add_book_button.svg) left top no-repeat;
  width: 34px;
  height: 34px;
  margin: 10px 12px 10px 10px;
}
.add_book:hover{
  cursor: pointer;
  background: url(../images/add_book_button.svg) 0 bottom no-repeat;
}

#window-container{
	width: 100%;
	/*overflow-x: hidden;*/
	overflow: visible;
}
#window{
	float: left;
	width: 100%;
	overflow-x: hidden;
}
.logo{
	height: 54px;
	margin-left: 2px;
	float: left;
}
.logo img{
	height: 54px;
}

/*MAIN-AVIGATION--------------------------------------------------------------------*/
.main-nav{
	background-color: #ffffff;
	height: 40px;
}
.main-nav::after{
	content: "";
	top: 40px;
	background: url("../images/header-shadow.png");
	background-size: 8px;
	display: block;
	position: relative;
	height: 8px;
	opacity: 0.3;
}
.main-nav .nav-left, ul.main-nav-left{float: left;}
.main-nav .nav-right, ul.main-nav-right{float: right;}
.main-nav .nav-left ul li{
	float: left;
	display: inline-block;
}
.main-nav .nav-left ul li a{
	line-height: 34px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	float: left;
	text-align: center;
	box-sizing: border-box;
	border-bottom: 3px solid #ffffff;
	padding-right: 26px;
	padding-left: 26px;
	padding-top: 3px;
	
	-webkit-transition: all 0.2s ease;                  
	-moz-transition: all 0.2s ease;                 
	-o-transition: all 0.2s ease;   
	-ms-transition: all 0.2s ease;          
	transition: all 0.2s ease;
	
}
.main-nav .nav-left .main-nav-active{
	color: #333333;
	border-bottom-color: #fe3e4d;
}
.main-nav .nav-left .main-nav-unactive{
	color: #999999;
}
.main-nav .nav-left .main-nav-unactive:hover{
	border-bottom-color: #cecece;
	color: #777777;
}
.main-nav .nav-right ul li{
	float: left;
	display: inline-block;
	margin-right: 4px;
}
.main-nav .nav-right ul li a{
	width: 40px;
	height: 40px;
	float: right;
	cursor: pointer;
}
a.main-nav-settings{
	background: url("../images/settings.svg") center top no-repeat;
}
a.main-nav-add-book{
	background: url("../images/add-book.svg") center top no-repeat;
}
a.main-nav-settings:hover, a.main-nav-add-book:hover{
	background-position: 0 -40px;
}
a.settings-active, a.settings-active:hover, a.add-book-active, a.add-book-active:hover{
	background-position: 0 -80px;
}
.nav-back{
	background-color: #e6e6e6;
	width: 100%;
	height: 40px;
}
.nav-back a{
	height: 40px;
	width: 40px;
	background-color: #f24545;
	float: left;
	background: url("../images/back.svg") center top no-repeat;
	
	-webkit-transition: background-color 0.2s ease;                  
	-moz-transition: background-color 0.2s ease;                 
	-o-transition: background-color 0.2s ease;   
	-ms-transition: background-color 0.2s ease;          
	transition: background-color 0.2s ease;
}
.nav-back a:hover{background-position: 0 -40px;}
.nav-back-title{
	line-height: 40px;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: #707070;
	overflow : hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-right: 40px;
	display: block;
	text-align: center;
}
/*SUB-NAVIGATION--------------------------------------------------------------------*/
.sub-nav{
	height: 52px;
	background-color: #2d2d2d;
	box-sizing: border-box;
}
.sub-nav:before{
  content: "";
  background: url("../images/shelf-bg.png") repeat-x;
  background-size: 5px;
  height: 10px;
  width: 100%;
  z-index: 10;
  display: block;
  position: absolute;
  margin-top: 52px;
}

/*SEARCH------------------------------------------------------------------------*/
.search{
	margin: 10px;
	float: right;
}
.search input[type=text]{
	border: 1px solid #dbdbdb;
	box-sizing: border-box;
	background-color: #f2f2f2;
	border-radius: 17px;
	width: 134px;
	padding-left: 16px;
	padding-right: 34px;
	height: 32px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	float: right;
	display: block;
	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	
}
.search input[type=text]:focus{
	width: 220px;
	background-color: #ffffff;
	color: #000000;
}
.search .search-icon{
	width: 32px;
	height: 32px;
	background: url("../images/search.svg") center top no-repeat;
	background-size: 30px;
	z-index: 999;
	float: right;
	position: relative;
	margin-left: -34px;
	right: 2px;
	top: 1px;
}
.search .search-icon:hover{
	background-position: 0 -30px;
	background-size: 30px;
	cursor: pointer;
	right: 1px;
}
.search-mobile{display: none;}
/*CONTAINERS & WINDOWS------------------------------------------------------------------------*/
.container{
	overflow-x: hidden important;
	overflow-y: hidden !important;
}
.main-container{
  width: 100%;
  box-sizing: border-box;
  float: left;
 }
.main-container-center{
	margin-right: auto;
	margin-left: auto;
	float: none;
	width: 680px;
}
.main-container-window{
	background-color: #ffffff;
	float: left;
	margin-top: 24px;
	margin-bottom: 24px;
	box-sizing: border-box;
	width: 100%;
}
.main-container-window-divider{
	float: left;
	padding: 32px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
.main-container-window-divider-big{
	float: left;
	padding: 42px;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
.main-container-window-divider-line-bottom{
	border-bottom: 1px solid #ededed;
}
.win-off{
	width: 100%;
	height: 100%;
	z-index: 999;
	top: 50px;
	position: relative;
}
.main-container-window-nav, .main-container-window-nav ul{
	width: 100%;
	float: left;
}
.main-container-window-nav ul li{
	display: inline-block;
	width: 50%;
	float: left;
}
.main-container-window-nav ul li a{
	font-size: 11px;
	letter-spacing: .02em;
	text-transform: uppercase;
	text-align: center;
	width: 138px;
	padding-top: 9px;
	padding-bottom: 9px;
	box-sizing: border-box;
	float: left;
}
.main-container-window-nav .window-nav-left{
	float: right;
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}
.main-container-window-nav .window-nav-right{
	float: left;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
}
.main-container-window-nav .window-nav-active{
	background-color: #fe3e4d;
	color: #fff;
	border: 1px solid #fe3e4d;
}
.main-container-window-nav .window-nav-unactive{
	color: #999;
	border: 1px solid #dcdcdc;
}
.main-container-window-nav .window-nav-unactive:hover{
	background-color: #dcdcdc;
	color: #606060
}
.window-col1{
	float: left;
	width: 100%;
	display: table;
	box-sizing: border-box;
}
.window-col2{
	float: left;
	width: 50%;
	display: table;
	box-sizing: border-box;
}
.window-col2-left{
	padding-right: 10px;
}
.window-col2-right{
	padding-left: 10px;
}
.window-col-margin-bottom{
	margin-bottom: 18px;
}
.window-error{
	font-size: 11px;
	text-align: center;
	background-color: #fe3e4d;
	float: left;
	width: 100%;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
}
/*SWITCH-----------------------------------------------------------------------------*/
.switch-container{
	float: right;
	height: 28px;
	width: 56px;
}
.switch-container:hover{cursor: pointer;}
.switch-container .switch-back-off, .switch-container .switch-back-on{
	width: 56px;
	height: 28px;
	border-radius: 16px;
	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.switch-container .switch-back-off{background-color: #e6e6e6;}
.switch-container .switch-back-on{background-color: #fe3e4d;}
.switch-container .switch-control-off, .switch-container .switch-control-on{
	width: 24px;
	height: 24px;
	background-color: #ffffff;
	border-radius: 12px;
	
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	transition: all 0.2s ease;
	margin: 2px;
}
.switch-container .switch-control-off{float: left;}
.switch-container .switch-control-on{ float: left; margin-left: 30px;}

/*INPUTS-----------------------------------------------------------------------------*/
label{
	font-weight: 700;
	color: #1a1a1a;
	font-size: 11px;
	letter-spacing: .02em;
	text-transform: uppercase;
	float: left;
	margin-bottom: 6px;
}
.required::after{
	content: "*";
	display: block;
	float: right;
	color: #fe3e4d;
	margin-left: 2px;
}
.isbn-search-container{
	float: left;
	width: 100%;
	display: table;
}
.isbn-data{
	display: table-cell;
	width: 100%;
	padding-right: 20px;
	box-sizing: border-box;
}
.isbn-search{
	display: table-cell;
	float: right;
}
.main-container-window input[type=text], .main-container-window textarea{
	border-radius: 2px;
	border: 1px solid #cccccc;
	font-size: 14px;
	background-color: #f5f5f5;
	box-sizing: border-box;
	padding: 7px 8px;
	float: left;
	width: 100%;
	color: #333;
	
	-webkit-transition: all 0.1s ease;                  
	-moz-transition: all 0.1s ease;                 
	-o-transition: all 0.1s ease;   
	-ms-transition: all 0.1s ease;          
	transition: all 0.1s ease;
}
.main-container-window textarea{
	height: 80px;
	max-width: 100%;
	display:block;
}
.main-container-window input[type=text]:focus, .main-container-window textarea:focus{
	border-color: #333;
}
.main-container-window input[type=text]:disabled{
	background-color: #ffffff;
	color: #717171;
}
.main-container-window input[type=submit]{
	text-align: center;
	color: #999999;
	border-radius: 2px;
	font-size: 11px;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	padding: 9px 34px;
	
	-webkit-transition: all 0.1s ease;                  
	-moz-transition: all 0.1s ease;                 
	-o-transition: all 0.1s ease;   
	-ms-transition: all 0.1s ease;          
	transition: all 0.1s ease;
}
.main-container-window input[type=submit]:hover{
	background-color: #74cf2d;
	cursor: pointer;
	color: #ffffff;
	border-color: #5fab24;
}
.main-container-window .cover-container{
	background-color: #f5f5f5;
	float: left;
	width: 100%;
	height: 250px;
	border-radius: 2px;
	padding: 4px;
	box-sizing: border-box;
}
.main-container-window .cover-container img{
	height: 100%;
}