
/*MOBILE/TABLET-----------------------------------------------------------------------------*/
@media screen and (max-width:660px){
	header{
		border-bottom-style: none;
		width: 100%;
		height: 50px;
	}
	header::after{
		visibility: visible;
		top: 0;
	}
	.mobile-menu, .mobile-menu-active{
		width: 50px;
		background-color: #e95454;
		background: url("../images/mobile-menu.svg") no-repeat;
		z-index: 999;
		height: 50px;
		position: relative;
	}
	.mobile-menu-active{background-position: 0 -50px;}
	.mobile-menu:active{background-position: 0 -50px;}
	.logo{
		height: 50px;
		z-index: 0;
		text-align: center;
		margin: -50px auto 0;
		display: block;
		position: relative;
		float: none;
		color: #333333;
	}
	.logo img{height: 50px;}
	.search{
		visibility: hidden;
		display: none;
	}
	.search-mobile{
		width: 32px;
		height: 32px;
		background: url("../images/search.svg") center top no-repeat;
		float: right;
		display: block;
		margin: -41px 9px 9px;
	}
	.main-container-center{
		margin: 0;
		width: 100%;
	}
	.main-container-window{
		margin: 0;
		border-style: none;
		width: 100%;
	}
	.main-container-window-divider, .main-container-window-divider-big{padding: 18px;}
	.main-nav{display: none;}
	.sub-nav{height: 48px;}
	.sub-nav:before{margin-top: 48px;}
	.go-back a{margin: 8px;}
	
	/*LOOK*/
	.main-container-window-divider h2{margin-top: 8px;}
	
	.books-shelf ul{padding-right: 0px;padding-left: 0px;}
	.books-shelf ul li{padding: 0;}
	.books-shelf-image-container a:hover .books-img::after{margin-top: 0px;}
	.books-shelf-image-container a:active .books-img img{
		box-sizing: border-box;
		border: 2px solid #fe3e4d;
		border-radius: 2px;
	}
	.search input[type=text]{
		visibility: hidden;
		display: none;
	}
	.search{margin: 9px;}
	.search .search-icon{margin-left: 0px;}
	.book-details-info{
		box-sizing: border-box;
		display: block;
		float: left;
		margin-top: 10px;
	}
	.book-details-image-container{margin-right: 20px;}
	.book-details-image-container img{width: 140px;}
	.book-details-title{font-size: 21px;}
	.book-details-data ul li{
		padding-left: 18px;
		padding-right: 18px;
		width: 100%;
		border-bottom-style: none;
	}
	.book-details-data ul li:last-child{border-bottom: 1px solid #ededed;}
	.main-container-window-nav ul li a{width: 100%;}
	.window-col1{display: block;}
	.window-col2{width: 100%;}
	.window-col2-left{padding-right: 0px;}
	.window-col2-right{padding-left: 0px;}
	.main-container-window input[type=submit]{width: 100%;}
	.main-container-window textarea{max-width: 100%;}
	.isbn-data{
		width: 100%;
		padding-right: 0;
		display: block;
		float: left;
	}
	.isbn-search{
		width: 100%;
		margin-top: 18px;
		display: block;
		float: left;
	}
}