{
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "globals": {
    "currentUser": true,
    "global": true,
    "module": true
  },
  "plugins": [
    "react"
  ]
}