{
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "globals": {
    "currentUser": true,
    "global": true,
    "module": true
  },
  "rules": {
    "react/destructuring-assignment": 0,
    "no-restricted-syntax": ["error", "ForInStatement", "LabeledStatement", "WithStatement"]
  }
}