asn1crypto==0.22.0
cffi==1.10.0
cryptography==1.8.1
decorator==4.0.11
Django==1.10.6
git+https://github.com/ayr-ton/django-saml2-auth.git#egg=django-saml2-auth
django-webpack-loader==0.4.1
djangorestframework==3.6.2
future==0.16.0
gunicorn==19.7.1
idna==2.5
packaging==16.8
Paste==2.0.3
psycopg2==2.7.1
pycparser==2.17
pycryptodomex==3.4.5
pyOpenSSL==16.2.0
pyparsing==2.2.0
pysaml2==4.0.5
python-dateutil==2.6.0
pytz==2016.10
repoze.who==2.3
requests==2.13.0
six==1.10.0
WebOb==1.7.2
zope.interface==4.3.3
