asn1crypto==0.22.0
cffi==1.10.0
cryptography==1.8.1
decorator==4.0.11
Django==1.11.5
django-autocomplete-light==3.2.10
django-crontab==0.7.1
django-saml2-auth==2.1.0
django-webpack-loader==0.4.1
djangorestframework==3.6.2
drf-url-filters==0.5.1
flake8==3.3.0
future==0.16.0
gunicorn==19.7.1
idna==2.5
mccabe==0.6.1
packaging==16.8
Paste==2.0.3
psycopg2==2.7.1
pycodestyle==2.3.1
pycparser==2.17
pycryptodomex==3.4.5
pyflakes==1.5.0
pyOpenSSL==16.2.0
pyparsing==2.2.0
pysaml2==4.0.5
python-dateutil==2.6.0
pytz==2017.3
repoze.who==2.3
requests==2.13.0
six==1.10.0
voluptuous==0.10.5
WebOb==1.7.2
whitenoise==3.3.0
zope.interface==4.3.3
