label{
  font-weight: 700;
  color: #1a1a1a;
  font-size: 11px;
  letter-spacing: .02em;
  text-transform: uppercase;
  float: left;
  margin-bottom: 6px;
}
.required::after{
  content: "*";
  display: block;
  float: right;
  color: #fe3e4d;
  margin-left: 2px;
}
.isbn-search-container{
  float: left;
  width: 100%;
  display: table;
}
.isbn-data{
  display: table-cell;
  width: 100%;
  padding-right: 20px;
  box-sizing: border-box;
}
.isbn-search{
  display: table-cell;
  float: right;
}
.main-container-window input[type=text], .main-container-window textarea{
  font-family: 'Open Sans', sans-serif;
  border-radius: 2px;
  border: 1px solid #cccccc;
  font-size: 14px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  padding: 7px 8px;
  float: left;
  width: 100%;
  color: #333;

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.main-container-window textarea{
  height: 80px;
  max-width: 100%;
  display:block;
  max-width: 596px;
  overflow-y: auto;
}
.main-container-window input[type=text]:focus, .main-container-window textarea:focus{
  border-color: #333;
}
.main-container-window input[type=text]:disabled{
  background-color: #ffffff;
  color: #717171;
}
.main-container-window input[type=submit]{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #999999;
  border-radius: 2px;
  font-size: 11px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  padding: 9px 34px;

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.main-container-window input[type=submit]:hover{
  background-color: #74cf2d;
  cursor: pointer;
  color: #ffffff;
  border-color: #5fab24;
}
.main-container-window .cover-container{
  background-color: #f5f5f5;
  float: left;
  width: 100%;
  height: 250px;
  border-radius: 2px;
  padding: 4px;
  box-sizing: border-box;
}
.main-container-window .cover-container img{
  height: 100%;
}
