.switch-container{
  float: right;
  height: 28px;
  width: 56px;
}
.switch-container:hover{cursor: pointer;}
.switch-container .switch-back-off, .switch-container .switch-back-on{
  width: 56px;
  height: 28px;
  border-radius: 16px;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.switch-container .switch-back-off{background-color: #e6e6e6;}
.switch-container .switch-back-on{background-color: #fe3e4d;}
.switch-container .switch-control-off, .switch-container .switch-control-on{
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border-radius: 12px;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  margin: 2px;
}
.switch-container .switch-control-off{float: left;}
.switch-container .switch-control-on{ float: left; margin-left: 30px;}
