<div>

<div class="nav-back" >
	<a href="javascript:window.history.back()"></a>
	<span class="nav-back-title">{{ 'APP_ADD_BOOK' | translate}}</span>
</div>

  <div class="main-container main-container-center">
    <div class="main-container-window">

      <div class="main-container-window-divider main-container-window-divider-line-bottom">
        <div class="main-container-window-nav">
          <ul>
            <li><a id="isbn-search" href="" ng-class="{'window-nav-active': isbnSearch, 'window-nav-unactive': !isbnSearch}" ng- class="window-nav-left" ng-click="autoCompleteSearch()">{{ 'BOOK_ISBN_13' | translate }}</a></li>
            <li><a id="manual-add" href="" ng-class="{'window-nav-active': !isbnSearch, 'window-nav-unactive': isbnSearch}" class="window-nav-right" ng-click="addManually()">{{ 'APP_MANUAL' | translate }}</a></li>
          </ul>
        </div>
      </div>

      <div id="not-found-message" class="window-error" ng-show="errorShowable">{{ 'BOOK_NOT_FOUND' | translate }}</div>

      <div id="search" class="main-container-window-divider-big" ng-show="searchShowable">
        <form name="searchForm">
          <div class="window-col1">
            <div class="isbn-data">
              <label for="isbn-search">{{ 'BOOK_ISBN_13' | translate }}</label>
              <input type="text" maxlength=13 name="" id="isbn-search" ng-model="searchCriteria" ui-mask="9999999999999" />
            </div>
            <div class="isbn-search">
              <input type="submit" name="" value="{{ 'APP_SEARCH' | translate }}" ui-keypress="{13:'findGoogleBooks()'}" ng-click="findGoogleBooks()"/>
            </div>
          </div>
        </form>
      </div>

      <div id="book-form" ng-show="formShowable">
        <form name="newCopyForm">
          <div class="main-container-window-divider-big main-container-window-divider-line-bottom">
            <div class="window-col1 window-col-margin-bottom">
              <label for="title" class="required">{{ 'BOOK_TITLE' | translate }}</label>
              <input type="text" name="title" id="title" ng-model="book.title" maxlength=255 required
              ng-disabled="isGoogleBook"/>
            </div>
            <div class="window-col1 window-col-margin-bottom">
              <label for="subtitle">{{ 'BOOK_SUBTITLE' | translate }}</label>
              <input type="text" name="" id="subtitle" ng-model="book.subtitle" maxlength=255
              ng-disabled="isGoogleBook"/>
            </div>
            <div class="window-col2 window-col-margin-bottom window-col2-left">
              <label for="author" class="required"> {{ 'BOOK_AUTHORS' | translate }}</label>
              <input type="text" name="author" id="author" ng-model="book.author" maxlength=255 required
              ng-disabled="isGoogleBook"/>
			</div>
			<div class="window-col2 window-col-margin-bottom window-col2-right">
			  <label for="publisher">{{ 'BOOK_PUBLISHER' | translate }}</label>
			  <input type="text" name="" id="publisher" ng-model="book.publisher" maxlength=255 />
			</div>
			<div class="window-col2 window-col-margin-bottom window-col2-left">
			  <label for="publication-date">{{ 'BOOK_PUBLICATION_DATE' | translate }}</label>
			  <input type="text" name="" id="publication-date" ng-model="book.publicationDate" maxlength=255 />
			</div>
			<div class="window-col2 window-col-margin-bottom window-col2-right">
			  <label for="pages">{{ 'BOOK_NUMBER_OF_PAGES' | translate }}</label>
			  <input type="text" name="" id="pages" ng-model="book.numberOfPages" maxlength=4 ui-mask="?9?9?9?9" ng-required="false"/>
			</div>
            <div class="window-col1 window-col-margin-bottom">
              <label for="cover">{{ 'BOOK_IMAGE_URL' | translate }}</label>
              <input type="text" name="" id="cover" ng-model="book.imageUrl" />
            </div>
            <div class="window-col1 window-col-margin-bottom">
            	<label for="about">{{ 'BOOK_COVER' | translate }}</label>
            	<div class="cover-container">
            	  <img ng-src="{{ book.imageUrl || '//:0'}}" class="cover-image">
            	</div>
            </div>
            <div class="window-col1">
              <label for="about">{{ 'BOOK_DESCRIPTION' | translate }}</label>
              <textarea name="comment" id="about" ng-model="book.description"></textarea>
            </div>
          </div>
          <div class="main-container-window-divider">
              <input type="submit" name="" value="{{ 'APP_ADD' | translate }}" ng-click="addBookToLibrary()" ng-disabled="newCopyForm.$invalid || addingBook"/>
              <div data-ng-show="addingBook">{{ 'APP_WAIT' | translate }} <i class="fa fa-spinner fa-spin"></i></div>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>
