<div ng-controller="BookCtrl">
	<div class="nav-back" >
		<a href=""  ng-click="goBack()"></a>
		<span class="nav-back-title">{{currentBook.title}}</span>
	</div>

	<div class="main-container main-container-center">
		<div class="main-container-window">
			<div class="main-container-window-divider">
				<div class="book-details-image-container">
					<img ng-src="{{currentBook.imageUrl}}" alt="" />
				</div>

				<div class="book-details-info">

					<p class="book-details-title">{{currentBook.title}}</p>
					<span class="small-title">{{ 'BOOK_AUTHORS' | translate }}</span>
					<p class="book-details-sub">{{currentBook.author}}</p>
				</div>

			</div>

			<div class="book-details-data">
				<ul>
					<li>
						<span class="small-title">{{ 'BOOK_PUBLISHER' | translate }}</span>
						<p class="book-details-sub">{{currentBook.publisher}}</p>
					</li>
					<li>
						<span class="small-title">{{ 'BOOK_PUBLICATION_DATE' | translate }}</span>
						<p class="book-details-sub">{{currentBook.publicationDate | date}}</p>
					</li>
					<li>
						<span class="small-title">{{ 'BOOK_NUMBER_OF_PAGES' | translate }}</span>
						<p class="book-details-sub">
							{{currentBook.numberOfPages}}
						</p>
					</li>
				</ul>
			</div>

			<div class="main-container-window-divider">
				<span class="small-title">{{ 'BOOK_DESCRIPTION' | translate }}</span>
				<p class="book-details-description" >
					{{currentBook.description}}
				</p>
			</div>

		</div>
	</div>
</div>
