<div ng-controller="BookCtrl">
	<div class="nav-back" >
		<a href=""></a>
		<span class="nav-back-title">{{currentBook.title}}</span>
	</div>
	
	<div class="main-container main-container-center">
		<div class="main-container-window">
			<div class="main-container-window-divider">
				<div class="book-details-image-container">
					<img ng-src="{{currentBook.imageUrl}}" alt="" />
				</div>
				
				<div class="book-details-info">
				
					<p class="book-details-title">{{currentBook.title}}</p>
					<span class="small-title">author</span>
					<p class="book-details-sub">{{currentBook.author}}</p>
				</div>
				
			</div>
			
			<div class="book-details-data">
				<ul>
					<li>
						<span class="small-title">publisher</span>
						<p class="book-details-sub">{{currentBook.publisher}}</p>
					</li>
					<li>
						<span class="small-title">publication date</span>
						<p class="book-details-sub">{{currentBook.publicationDate | date}}</p>
					</li>
					<li>
						<span class="small-title">pages</span>
						<p class="book-details-sub">
							{{currentBook.numberOfPages}}
						</p>
					</li>
				</ul>
			</div>
			
			<div class="main-container-window-divider">
				<span class="small-title">about this book</span>
				<p class="book-details-description" >
					{{currentBook.description}}
				</p>
			</div>
			
		</div>
	</div>
</div>