<section class="books-shelf">
  <ul>
    <li id="copy-{{copy.id}}" ng-repeat="copy in copies">
      <div class="books-shelf-content">
        <div class="books-shelf-image-container">
          <a href="/#/library/{{ library }}/book_details/{{ copy.id }}">
            <div class="books-img">
              <img ng-src="{{copy.book.imageUrl}}" alt="{{copy.book.title}}" />
            </div>
              <img class="book-borrower" ng-show="copy.status !== 'AVAILABLE'"
                   ng-src="{{copy.lastLoan.user.imageUrl}}" alt="{{copy.title}}" />

          </a>

        </div>
      </div>
      <div class="book-shelf-info">
        <p class="book-shelf-title">{{copy.book.title}}</p>
        <p class="book-shelf-author">{{copy.book.author}}</p>
        <book-action-buttons copy="copy" />
      </div>
    </li>
  </ul>
</section>

<div class="modal-root" id="modal-div">
  <div bn-modals ng-show="subview" class="m-modals" ng-switch="subview">
    <div class="modal" bn-modals ng-show="subview" ng-switch="subview">
      <div class="popup-window">
        <div class="popup-close" ng-click="cancel()" ng-controller="ModalController"></div>
        <div class="popup-header" ng-switch-when="not-available">{{ 'BOOK_RETURN_TITLE' | translate }}</div>
          <form ng-switch-when="not-available" class="" ng-submit="submit()" ng-controller="ReturnModalController">
            <div class="popup-margin popup-bottom-line" >
              <div class="popup-col1">
                {{ loan.email }}, {{ 'RETURN_MESSAGE' | translate }}
              </div>
            </div>
            <div class="popup-margin-small">
              <input type="submit" value="{{ 'APP_RETURN' | translate }}" ng-click="submit()" />
            </div>
          </form>
    </div>
  </div>
</div>
