<section class="books-shelf">
  <ul>
    <li id="copy-{{copy.id}}" ng-repeat="copy in copies">
      <div class="books-shelf-content">
        <div class="books-shelf-image-container">
          <a href="">
            <div class="books-img" ng-click="openCopy(copy)">
              <img ng-src="{{copy.imageUrl}}" alt="{{copy.title}}" />
            </div>
              <img class="book-borrower" ng-show="copy.status !== 'AVAILABLE'" ng-src="{{copy.lastLoan.user.imageUrl}}" alt="{{copy.title}}" />

          </a>

        </div>
      </div>
      <div class="book-shelf-info">
        <p class="book-shelf-title">{{copy.title}}</p>
        <p class="book-shelf-author">{{copy.author}}</p>
        <div class="books-shelf-borrow" ng-click="borrowCopy(copy)" ng-show="copy.status === 'AVAILABLE'">
          {{ 'APP_BORROW' | translate }}
        </div>
        <div class="books-shelf-return" ng-click="returnCopy(copy)"
             ng-hide="copy.status === 'AVAILABLE' || !borrowerIsCurrentUser(copy)">
          {{ 'APP_RETURN' | translate }}
        </div>
      </div>
    </li>
  </ul>
</section>

<div class="modal-root" id="modal-div">
  <div bn-modals ng-show="subview" class="m-modals" ng-switch="subview">
    <div class="modal" bn-modals ng-show="subview" ng-switch="subview">
      <div class="popup-window">
        <div class="popup-close" ng-click="cancel()" ng-controller="ModalCtrl"></div>
        <div class="popup-header" ng-switch-when="available">{{ 'BOOK_BORROW_TITLE' | translate }}</div>
        <div class="popup-header" ng-switch-when="not-available">{{ 'BOOK_RETURN_TITLE' | translate }}</div>

          <form ng-switch-when="available" class="" ng-submit="submit()" ng-controller="BorrowModalCtrl">
            <div class="popup-margin popup-bottom-line">
              <div class="popup-col2 popup-col2-left">
                <label for="user">{{ 'APP_USER' | translate }}</label>
                <input type="text" ng-model="form.user" ng-trim="false" class="text-align-right input-no-margin"/>
              </div>
              <div class="popup-col2 popup-col2-right"><span class="popup-donator-mail">@thoughtworks.com</span></div>
            </div>
            <div class="popup-margin-small">
              <input type="submit" value="{{ 'APP_BORROW' | translate }}" ng-click="submit()" />
            </div>
          </form>

          <form ng-switch-when="not-available" class="" ng-submit="submit()" ng-controller="ReturnModalCtrl">
            <div class="popup-margin popup-bottom-line" >
              <div class="popup-col1">
                {{ loan.email }}, {{ 'RETURN_MESSAGE' | translate }}
              </div>
            </div>
            <div class="popup-margin-small">
              <input type="submit" value="{{ 'APP_RETURN' | translate }}" ng-click="submit()" />
            </div>
          </form>
    </div>
  </div>
</div>
