<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Kamu</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/angular-toastr/dist/angular-toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/header.css"/>
    <link rel="stylesheet" href="styles/mainNavigation.css"/>
    <link rel="stylesheet" href="styles/subnavigation.css"/>
    <link rel="stylesheet" href="styles/search.css"/>
    <link rel="stylesheet" href="styles/containers.css"/>
    <link rel="stylesheet" href="styles/switch.css"/>
    <link rel="stylesheet" href="styles/settings.css"/>
    <link rel="stylesheet" href="styles/inputs.css"/>
    <link rel="stylesheet" href="styles/slideMenu.css"/>
    <link rel="stylesheet" href="styles/book.css"/>
    <link rel="stylesheet" href="styles/modal.css"/>
    <link rel="stylesheet" href="styles/custom.css"/>
    <link rel="stylesheet" href="styles/font-awesome.css"/>
    <link rel="stylesheet" href="styles/slide.css"/>
    <link rel="stylesheet" href="styles/mobile.css"/>
    <link rel="stylesheet" href="styles/angular-csp.css"/>
    <link rel="stylesheet" href="styles/intro.css"/>
    <link rel="stylesheet" type="text/css" href="styles/angular-toastr.css" />
    <!-- endbuild -->
  </head>
  <body ng-app="libraryUiApp">

    <div class="viewport" ng-class="{ 'noScroll' : menuVisible }" ng-controller="SlidingMenuController">
      <div class="containerSlider" ng-class="menuVisible ? 'containerSlider-open' : 'containerSlider-closed'">

        <nav class="mobile-nav" ng-controller="NavigationController">
          <div class="mobile-nav-container">
            <ul>
              <li>
                <a href="/#/library/{{ library }}"
                   ng-class="isActive('/') ? 'mobile-nav-active' : 'mobile-nav-unactive'">
                  {{'APP_LIBRARY_TAB' | translate }}
                </a>
              </li>
              <li>
                <a href=""
                   ng-class="isActive('wish_list') ? 'mobile-nav-active' : 'mobile-nav-unactive'">
                  {{ 'APP_WISHLIST_TAB' | translate }}
                </a>
              </li>
              <li>
                <a href=""
                   ng-class="isActive('borrowed_books') ? 'mobile-nav-active' : 'mobile-nav-unactive'">
                  {{ 'APP_BORROWED_BOOKS_TAB' | translate }}
                </a>
              </li>
              <li>
                <a href="/#/library/{{ library }}/add_book"
                   ng-class="isActive('add_book') ? 'mobile-nav-active' : 'mobile-nav-unactive'"
                   ng-show="hasLoadedLibrary()">
                  {{ 'APP_ADD_BOOK' | translate }}
                </a>
              </li>
              <li>
                <a href=""
                   ng-class="isActive('add_wish_list') ? 'mobile-nav-active' : 'mobile-nav-unactive'"
                   ng-show="hasLoadedLibrary()">
                  {{ 'APP_ADD_WISH' | translate }}
                </a>
              </li>
              <li>
                <a href="/#/library/{{ library }}/settings"
                   ng-class="isActive('settings') ? 'mobile-nav-active' : 'mobile-nav-unactive'"
                   ng-show="hasLoadedLibrary()">
                  {{ 'APP_SETTINGS' | translate }}
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <div id="window-container" class="container">
          <div id="window">
            <div ng-show="hasLoadedLibrary()" ng-controller="NavigationController">
              <header>
                <div ng-click="showMenu($event)">
                  <a href="">
                    <div class="mobile-menu" id="showLeftPush"></div>
                  </a>
                </div>
                <div class="logo"><img src="./images/logo.svg" alt="Kamu" title="Kamu" /></div>

                <div class="user-container">
                  <img ng-controller="LibraryCtrl" ng-src="{{ getGravatarFromSession() }}"/>
                </div>

                <div class="search-mobile"></div>
                <div class="search">
                  <div class="search-icon"></div>
                  <input type="text" name="" value="" placeholder="{{ 'APP_SEARCH' | translate }}"/>
                </div>
              </header>

              <nav class="main-nav">
                <div class="nav-left">
                  <ul class="main-nav-left">
                    <li>
                      <a href="/#/library/{{library}}"
                         ng-class="isActive('/') ? 'main-nav-active' : 'main-nav-unactive'">
                        {{'APP_LIBRARY_TAB' | translate }}
                      </a>
                    </li>
                    <li>
                      <a href=""
                         ng-class="isActive('wish_list')? 'main-nav-active' : 'main-nav-unactive'">
                        {{ 'APP_WISHLIST_TAB' | translate }}
                      </a>
                    </li>
                    <li>
                      <a href=""
                         ng-class="isActive('borrowed_books')? 'main-nav-active' : 'main-nav-unactive'">
                        {{ 'APP_BORROWED_BOOKS_TAB' | translate }}
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="nav-right">
                  <ul>
                    <li>
                      <a href="/#/library/{{library}}/add_book"
                         class='main-nav-add-book'
                         ng-class="{'add-book-active' : isActive('add_book')}"
                         ng-show="hasLoadedLibrary()">
                      </a>
                    </li>
                    <li>
                      <a href=""
                         class='main-nav-add-wish'
                         ng-class="{'add-wish-active' : isActive('add_wish_list')}"
                         ng-show="hasLoadedLibrary()">
                      </a>
                    </li>
                    <li>
                      <a href="/#/library/{{library}}/settings"
                         class='main-nav-settings'
                         ng-class="{'settings-active' : isActive('settings')}"
                         ng-show="hasLoadedLibrary()">
                      </a>
                    </li>

                  </ul>
                </div>
              </nav>
            </div>
            <div class="main-container" ng-view="">

            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- build:livereload(.) -->
    <script src="//localhost:9091"></script>
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-md5/angular-md5.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/angular-translate/angular-translate.js"></script>
    <script src="../bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/config.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services/book.js"></script>
    <script src="scripts/services/loan.js"></script>
    <script src="scripts/services/modal.js"></script>
    <script src="scripts/services/library.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/controllers/sliding-menu.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <script src="scripts/controllers/book.js"></script>
    <script src="scripts/controllers/add-book.js"></script>
    <script src="scripts/controllers/book-details.js"></script>
    <script src="scripts/controllers/library.js"></script>
    <script src="scripts/controllers/translate.js"></script>
    <script src="scripts/controllers/modal.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/directives/bn-modals.js"></script>
    <script src="scripts/directives/book-action-buttons.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
      window.sessionStorage.name = '<%= name %>';
      window.sessionStorage.email = '<%= email %>';
    </script>
  </body>
</html>
