<div class="nav-back" >
	<a href=""></a>
	<span class="nav-back-title">Settings</span>
</div>

<div class="main-container main-container-center" >
		<div class="main-container-window">
			<div class="main-container-window-divider">
				<h2>{{ 'APP_LANGUAGE' | translate }}</h2>
				<div class="settings-language">
				<ul>
					<li ng-repeat="language in languages">
						<span ng-class="$index == selectedIndex ? 'settings-language-text-on': 'settings-language-text-off'">
							{{ language.name }}
						</span>
						<div class="switch-container" ng-click="changeLanguage($index)" >
							<div ng-class="$index == selectedIndex? 'switch-back-on':'switch-back-off' ">
								<div ng-class=" $index == selectedIndex ? 'switch-control-on':'switch-control-off'"></div>
							</div>
						</div>
					</li>
				</ul>
				</div>
			</div>
		</div>
	</div>
	