#app-bar {
    position: sticky;
    top: 0;
    z-index: 4;
}

.header {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

@media only screen and (max-width: 425px) {
    .header-menu {
        display: flex;
        justify-content: space-between;
    }

    .header-menu button {
        padding: 0.3em ;
    }

    .header-menu button .material-icons {
        font-size: 5vw;
    }
}

#content {
    margin-top: 65px;
}

.page-title {
    display: flex;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #999;
    text-transform: lowercase;
}

.page-title .material-icons {
    font-size: 1.2em;
    margin-right: 10px;
    color: #cccccc;
}

.book-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 190px;
    margin: 30px 10px 0;
    cursor: pointer;
    overflow: hidden;
}

.book .book-cover {
    height: 270px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center top;
}

.book .book-cover img {
    width: 100%;
    z-index: 1;
}

.book .book-cover .book-cover-overlay {
    background-color: #000000;
    opacity: 0;
    transition: 0.1s linear;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.book:hover .book-cover-overlay {
    opacity: 0.6;
}

.book .book-details {
    margin: 10px;
    flex-grow: 1;
}

.book .book-title,
.book .book-author {
    margin: 5px 0;

    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.book .book-title {
    font-size: 16px;
}

.book .book-author {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    -webkit-line-clamp: 2;
}

.book .book-actions {
    margin: 10px;
    text-align: center;
}

.book .book-actions button {
    background-color: rgba(0, 0, 0, 0.8) !important;
    width: 100%;
}

.book .book-actions button span {
    color: #fff !important;
}

.library-list {
    width: 300px;
    margin: 20px auto;
}

.library-list .library {
    justify-content: center;
    font-size: 16px;
    padding: 1em;
}

/*SEARCH BAR - START*/
.search-bar-paper {
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 50px;
    top: 64px;
}

.search-bar-container {
    position: relative;
    width: 80%;
    left: 10%;
    height: 50px;
    display: flex;
    align-items: center;
}

.search-bar-container > .search-bar-search-icon-container {
    vertical-align: middle;
    margin-left: 5px;
    width: 25px;
}

.search-bar-container > .search-bar-search-icon-container > .search-bar-icon {
    fill: gray !important;
    margin-left: 5px;
}

.search-bar-container > .search-bar-input {
    margin-left: 10px;
    width: calc(100% - 70px) !important;
    font-size: larger;
    border: none;
    outline: none;
    display: inline-flex;
}

.search-bar-container > .search-bar-close-icon-container {
    display: inline-flex;
    vertical-align: middle;
    width: 25px;
    height: 25px;
}

.search-bar-container > .search-bar-close-icon-container > .search-bar-close-icon{
    fill: gray !important;
    cursor: pointer;
}

.MuiInput-underline-45::after,
.MuiInput-underline-45::before {
    content: none;
}

/*SEARCH BAR - END*/