#app-bar {
    position: sticky;
    top: 0;
    z-index: 4;
}

#content {
    margin-top: 65px;
}

body.light {
    background-color: #fafafa;
}

body.dark {
    background-color: #212121;
}

body.dark > * {
    color: #fafafa;
}

body.dark > * {
    color: #fafafa;
}

.page-title {
    display: flex;
    padding: 15px 30px;
    font-size: 1.2em;
    text-transform: lowercase;
}

.page-title .material-icons {
    font-size: 1.2em;
    margin-right: 10px;
}
