* {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
   text-decoration: none;
}
