{% load render_bundle from webpack_loader %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Kamu</title>
  </head>
  <body>
      <div id="app-bar"></div>

      <div id="content">
          {% block content %}{% endblock %}
      </div>

      {% render_bundle 'app' %}
  </body>
</html>
