.container{
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.main-container{
  width: 100%;
  box-sizing: border-box;
  float: left;
}
.main-container-center{
  margin-right: auto;
  margin-left: auto;
  float: none;
  width: 680px;
}
.main-container-window{
  background-color: #ffffff;
  float: left;
  margin-top: 24px;
  margin-bottom: 24px;
  box-sizing: border-box;
  width: 100%;
}
.main-container-window-divider{
  float: left;
  padding: 32px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.main-container-window-divider-big{
  float: left;
  padding: 42px;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}
.main-container-window-divider-line-bottom{
  border-bottom: 1px solid #ededed;
}
.win-off{
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 50px;
  position: relative;
}
.main-container-window-nav, .main-container-window-nav ul{
  width: 100%;
  float: left;
}
.main-container-window-nav ul li{
  display: inline-block;
  width: 50%;
  float: left;
}
.main-container-window-nav ul li a{
  font-size: 11px;
  letter-spacing: .02em;
  text-transform: uppercase;
  text-align: center;
  width: 138px;
  padding-top: 9px;
  padding-bottom: 9px;
  box-sizing: border-box;
  float: left;
}
.main-container-window-nav .window-nav-left{
  float: right;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.main-container-window-nav .window-nav-right{
  float: left;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
.main-container-window-nav .window-nav-active{
  background-color: #fe3e4d;
  color: #fff;
  border: 1px solid #fe3e4d;
}
.main-container-window-nav .window-nav-unactive{
  color: #999;
  border: 1px solid #dcdcdc;
}
.main-container-window-nav .window-nav-unactive:hover{
  background-color: #dcdcdc;
  color: #606060
}
.window-col1{
  float: left;
  width: 100%;
  display: table;
  box-sizing: border-box;
}
.window-col2{
  float: left;
  width: 50%;
  display: table;
  box-sizing: border-box;
}
.window-col2-left{
  padding-right: 10px;
}
.window-col2-right{
  padding-left: 10px;
}
.window-col-margin-bottom{
  margin-bottom: 18px;
}
.window-error{
  font-size: 11px;
  text-align: center;
  background-color: #fe3e4d;
  float: left;
  width: 100%;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
