.header {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}

@media only screen and (max-width: 425px) {
    .header-menu {
        display: flex;
        justify-content: space-between;
    }

    .header-menu button {
        padding: 0.3em ;
    }

    .header-menu button .material-icons {
        font-size: 5vw;
    }
}