<span>ISBN: <input type='text' ng-model="searchCriteria"/><button id='book-search' ng-click='findGoogleBooks()'>Search</button></span>

<form method="POST" id="{{book.id}}">
    <div>
        Title: <input type="text" ng-model="book.title"/>
    </div>
    <div>
        Subtitle: <input type="text" ng-model="book.subtitle"/>
    </div>
    <div>
        Authors: <input type="text" ng-model="book.author"/>
    </div>
    <div>
        Description: <textarea cols="50" row="3" ng-model="book.description"></textarea>
    </div>
    <div>
        ISBN 13: <input type="text" ng-model="book.isbn13"/>
    </div>
    <div>
        Publisher: <input type="text" ng-model="book.publisher"/>
    </div>
    <div>
        Publication Date: <input type="text" ng-model="book.publicationDate"/>
    </div>
    <div>
        Image URL: <input type="text" ng-model="book.imageUrl"/>
    </div>
    <div>
        <img src="{{book.imageUrl}}">
    </div>
</form>
