<span>ISBN 13: <input type='text' ng-model="searchCriteria"/><button id='book-search' ng-click='findGoogleBooks()'>{{ 'APP_SEARCH' | translate}}</button></span>

<form method="POST" id="{{book.id}}">
    <div>
        {{ 'BOOK_TITLE' | translate }}: <input type="text" ng-model="book.title"/>
    </div>
    <div>
        {{ 'BOOK_SUBTITLE' | translate }}: <input type="text" ng-model="book.subtitle"/>
    </div>
    <div>
        {{ 'BOOK_AUTHORS' | translate }}: <input type="text" ng-model="book.author"/>
    </div>
    <div>
        {{ 'BOOK_DESCRIPTION' | translate }}: <textarea cols="50" row="3" ng-model="book.description"></textarea>
    </div>
    <div>
        {{ 'BOOK_NUMBER_OF_PAGES' | translate }}: <input type="text" ng-model="book.numberOfPages"/>
    </div>
    <div>
        {{ 'BOOK_ISBN_13' | translate }}: <input type="text" ng-model="book.isbn"/>
    </div>
    <div>
        {{ 'BOOK_PUBLISHER' | translate }}: <input type="text" ng-model="book.publisher"/>
    </div>
    <div>
        {{ 'BOOK_PUBLICATION_DATE' | translate }}: <input type="text" ng-model="book.publicationDate"/>
    </div>
    <div>
        {{ 'BOOK_IMAGE_URL' | translate }}: <input type="text" ng-model="book.imageUrl"/>
    </div>
    <div>
        <img src="{{ book.imageUrl }}">
    </div>
</form>
