<section class="books-list">
  <ul>
    <li id="{{book.id}}" ng-repeat="book in books">
      <div ng-click="borrowCopy(book.id)" class="bt_borrow">{{ 'APP_BORROW' | translate }}</div>
      <a href="">
        <div class="books-list-image-container">
          <img src="{{book.imageUrl}}" alt="{{book.title}}"/>
        </div>
      </a>
        <div class="books-list-info">
          <p class="books-list-info-title">{{book.title}}</p>
          <p class="books-list-info-author-title">{{ 'APP_BOOK_BY' | translate }}</p>
          <p class="books-list-info-author">{{book.author}}</p>
        </div>
    </li>
  </ul>
  <!-- <div class="bt_return">Return</div> -->
</section>

<div id="modal">
  <div
    bn-modals
    ng-show="subview"
    class="m-modals"
    ng-switch="subview">

    <form
      ng-switch-when="prompt"
      ng-controller="BorrowModalCtrl"
      ng-submit="submit()"
      class="modal">

      <p>
        Who are borrowing this book?
      </p>

      <p>
        <label>User</label>
        <input type="text" ng-model="form.user" />@thoughtworks.com
      </p>

      <p>
        <a ng-click="submit()">Borrow</a>
        &mdash;
        <a ng-click="cancel()">X</a>
      </p>
    </form>

    <form
      ng-switch-when="prompt"
      ng-controller="ReturnModalCtrl"
      ng-submit="submit()"
      class="modal">

      <p>
        {{ user }}, are you returning this book?
      </p>

      <p>
        <a ng-click="submit()">Return</a>
        &mdash;
        <a ng-click="cancel()">X</a>
      </p>
    </form>
  </div>
</div>