.header-content {
  display: flex;
  align-items: center;
  height: 100%;
}

.book-list {
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.book {
  width: 200px;
  margin: 30px 20px;
  cursor: pointer;
}